<div class="presents-container">
  <h2>Lista de Presentinhos</h2>
  @for (presente of lista_presentes; track presente.nome) {
  <div class="present-item">
    <span class="present-title">{{ presente.nome }}</span>
    <img
      [src]="presente.imagem"
      alt="{{ presente.nome }}"
      class="present-image"
    />
    <div class="present-action">
      <span class="present-value">
        {{ presente.valor | currency : "BRL" : "symbol" : "1.2-2" }}
      </span>
      <a
        [href]="presente.link"
        target="_blank"
        class="present-btn"
        [title]="presente.status"
      >
        <mat-icon>card_giftcard</mat-icon>
      </a>
    </div>
  </div>
  }
</div>
