.presents-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 20px;
  margin-top: 82px;

  h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
}

.present-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 148px;
  height: auto;

  .present-title {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
  }
}

.present-item-disabled {
  .present-image {
    filter: grayscale(100%);
    opacity: 0.75;
  }

  .present-action {
    .present-btn {
      background-color: brown;
    }
  }
}

.present-image {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 4px;
}

.present-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: wheat;
}

.present-value {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 4px;
  color: #317c33;
}

.present-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 4px;
  font-size: small;
  font-weight: bold;
  color: white;
  background-color: #55b758;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}

.close-btn {
  background-color: red;
  margin-right: 8px;

  &:hover {
    background-color: rgb(207, 0, 0);
  }
}

.dialog-success-template {
  max-width: 400px;
}

.payment-template {
  max-width: 400px;
}

.present-dialog-image {
  width: 100%;
  height: auto;
}

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.payment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.payment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 72px;
  padding: 0 4px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  background-color: #257af1;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  mat-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    height: 64px;
    width: 72px;
  }

  &:hover {
    background-color: #45a049;
  }
}

.present-payment-name {
}
