.presents-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 20px;
  margin-top: 82px;
}

.present-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 148px;
  height: auto;

  .present-title {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
  }
}

.present-image {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 4px;
}

.present-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: wheat;
}

.present-value {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 4px;
  color: #317c33;
}

.present-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 4px;

  font-size: small;
  color: white;
  background-color: #55b758;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}
