<section class="info-container">
  <h2>Mais Informações</h2>

  <div class="event-info">
    <div class="event-info-header">
      <div class="info-header-title date-info">
        <mat-icon>calendar_month</mat-icon>
        <span>05/10/2025</span>
      </div>
      <div class="info-header-title time-info">
        <mat-icon>schedule</mat-icon>
        <span>Início às 15h30</span>
      </div>
      <a
        href="https://maps.app.goo.gl/DTPy1c4MYyc5hPGx5"
        target="_blank"
        class="info-header-title location-btn"
      >
        <mat-icon>location_on</mat-icon>
        <span>Residencial Flor do Cerrado</span>
      </a>
    </div>

    <div class="event-info-body">
      <p>
        Caso você não encontre vaga para estacionar em frente ao condomínio,
        você pode estacionar dentro do
        <a href="https://maps.app.goo.gl/tgSvuf1PPifPgPC19" target="_blank"
          >Atacação Dia a Dia</a
        >
        , que é próximo e é possível ir andando até o local.
      </p>
    </div>
  </div>
</section>
