<header>
  <h1 class="pacifico-regular">Chá de casa Nova</h1>
  <img
    src="/assets/foto-perfil.jpg"
    alt="Sarah e Eduardo"
    class="profile-image"
  />
  <h2 class="lavishly-yours-regular">Sarah & Eduardo</h2>
  <p class="text-lg md:text-xl text-gray-700 max-w-2xl mx-auto">
    Bem-vindo(a) à nossa página de presentes! ✨<br />
    Estamos muito felizes com essa nova etapa juntos e criamos esse espaço para
    que você celebre com a gente de um jeitinho especial.
    <br /><br />
    Aqui você encontra alguns itens que vão nos ajudar a montar nosso cantinho.
    Basta clicar no botão <strong>"Presentear"</strong> e enviar o valor via
    Pix.
    <br />
    Obrigado pelo carinho e por fazer parte da nossa história! 💚
  </p>
</header>
